<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EdpSendEmail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ssqapp02.buyabs.corp:8080/Mail/V31/MailService.svc"
                binding="basicHttpBinding" bindingConfiguration="EdpSendEmail"
                contract="MailManager.ISendEmail" name="EdpSendEmail" />
        </client>
    </system.serviceModel>
</configuration>