<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core"/>
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core"/>
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core"/>
    </sectionGroup>
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="Oversea Framework Configuration">
    <sources>
      <add name="Oversea Framework Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\OverseaFrameworkConfig\OverseaEntLib_V31.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <oversea>
    <globalSettings filePath="D:\APP\IPP\Config\GlobalSettings.config"/>
    <logSettings localRegionName="OrderMgmt"/>
    <dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config"/>
  </oversea>
  
  <appSettings>
    <add key="SCGlobalConfig" value="D:\APP\IPP\Config\GlobalSettings.config"/>
    <add key="ConsumerName" value="CN.OrderMgmt.UI.IPP01"/>
    <add key="LocationName" value="LocalDev"/>
    <!--企业代码-->
    <add key="CompanyCode" value="8601"/>
    <!--以下JOB中调用WCF服务时所使用到的信息-->
    <add key="UserDisplayName" value="IPPSystemAdmin"/>
    <add key="UserLoginName" value="IPPSystemAdmin"/>
    <add key="StoreSourceDirectoryKey" value="bitkoo"/>
    <add key="StoreCompanyCode" value="8601"/>
    <!--excel Sheet 名-->
    <add key="xlsSheetNames" value="page"/>
    <add key="xlsPath" value=".\\page-full - Copy.csv"/>

    <add key="emailTemplate" value=".\\Configuration\Email\TruesightStatistics.html"/>
    <add key="emailFrom" value="support@newegg.com.cn"/>
    <add key="emailTO" value="acro.f.chao@newegg.com;ray.l.xing@newegg.com;eric.z.zhou@newegg.com"/>
    <add key="emailCC" value=""/>
    <add key="emailBCC" value=""/>
    <!--要统计的域名列表，以逗号分隔-->
    <add key="domains" value="exsrv.newegg.com.cn,exsrv.newegg.cn,cps.newegg.com.cn,cps.newegg.cn,sellerportal.newegg.com.cn,sellerportal.newegg.cn,www.newegg.cn,www.newegg.com.cn,api.newegg.cn,api.newegg.com.cn"/>
    <add key="mapping" value="mapping.config"/>
    <add key="autoDeleteDownloadFile" value="false"/>
    <!--是否启动手动配置时间范围 true/false-->
    <add key="deployTime" value="false"/>
    <!--手动配置开始日期 yyyy.MM.dd-->
    <add key="deploy_begin" value=""/>
    <!--手动配置结束日期 yyyy.MM.dd-->
    <add key="deploy_end" value=""/>
  </appSettings>

  <system.net>
    <settings>
      <servicePointManager checkCertificateName="true"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EdpSendEmail" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ssqapp02.buyabs.corp:8080/Mail/V31/MailService.svc"
          binding="basicHttpBinding" bindingConfiguration="EdpSendEmail"
          contract="MailManager.ISendEmail" name="EdpSendEmail" />
    </client>
  </system.serviceModel>
  
</configuration>
